#
# Entries staring with a hash symbol are comments
#

#############
# [General] #
#############

# Location where all the restuls & plots are going to be placed (absolute path, ~ for home dir)
# [!] Directory will be created if it doesn't exist; may overwrite existing files
PlotsFolder = Results/

# Location where the algorithms are placed (this is where the repository is extracted)
AlgorithmsLocation = ../../../Algorithms/

# A comma-separated list of datasets used in a test

#Full_list_of_Datasets = drift10, motion, bafu, soccer, airq, chlorine, climate, electricity, meteo, temp

Datasets = drift10, motion, bafu

# A comma-separated list of scenarios

# Full_list_of_Scenarios = missingpercentage, length, columns, blockslide, blackout, multicol-increasing, multicol-disjoint, multicol-overlap, mcar-matrix-block, mcar-ts-block, mcar-ts-multiblock, mcar-ts-element, mcar-ts-block2, mcar-ts-multiblock2, mcar-columns, mcar-length

Scenarios = missingpercentage, length, columns, blockslide, blackout, multicol-increasing, multicol-disjoint, multicol-overlap, mcar-matrix-block, mcar-ts-block, mcar-ts-multiblock, mcar-ts-element, mcar-ts-block2, mcar-ts-multiblock2, mcar-columns, mcar-length

#########################
# [Optional:Algorithms] #
#########################

#Full_list_of_Algorithms = orbits, spirit, grouse, ogd-imp, pca-mme, tkcm, m-rnn

# List of enabled algorithms
EnabledAlgorithms = orbits, spirit, grouse, ogd-imp, pca-mme, tkcm


###########################
# [Optional:TestingSetup] #
###########################

# Enable continous recovery tests (default is True)
EnableContinuous = True

# Enable streaming (default is True)
EnableStreaming = True

# Enable batch mid (default is True)
EnableBatchMid = False

# Do not perform precision test
DisablePrecision = False

# Do not perform runtime test
DisableRuntime = False
